$primary: #fc6414;
$secondary: #ffae00;

@media only screen and (min-width: 992px) {
	.menu-button {
		display: none;
	}

	nav.navbar .nav-link {
		position: relative;

		&:after {
	    content: '';
	    position: absolute;
	    border-bottom: 0;
      bottom: -18px;
	    left: 4px;
	    width: 0%;
	    border-bottom: 3px solid #f96314;
	    transition: 0.2s;
		}

		&:hover:after, &.active:after {
		  width: 100%;
		}
	}

	.main-menu {
		position: relative;
		top: inherit;
		opacity: 1;
		z-index: 1000;
		display: block;
	}

	section.main-banner {
		.banner-text-container {
			// margin-top: 8rem;
	  //   margin-bottom: 8rem;
	  	margin-top: 7rem;
	    margin-bottom: 7rem;
		}

		h1 {
	    font-size: 2.5rem;
		}
	}

	section.features {
		.img-container {
	    left: -5rem;
			position: absolute;
		}

		.feature-text {
	    padding-left: 0;
		}

		.p-5 {
    	padding: 3rem!important;		
  	}
	}

	section.how-it-works {

		.how-item.pt-5 {
    	padding-top: 3rem!important;		
		}

		.easy-share {
	    background-position: center center;
	    background-size: contain;

			.how-item {
		    // margin-top: 4rem;
		    // margin-bottom: 10rem;
		    margin-top: 15rem;
		    margin-bottom: 4rem;
			}
		}
	}

	section.why-suncash {
    padding-bottom: 8rem;
	}

	section.faq {
    .tab-content {
			margin-top: 2rem;
		}

		.nav-border-bottom {
			border-bottom: 1px solid #e8e8e8;
		}

		.nav-tabs .nav-link {
			padding-top: inherit;
		}
	}
	

	.nav-link {
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    &.mysuncash-link {
    	margin-left: 2rem;
    }
	}

	section.terms {
		.card {
	    padding: 5rem;
		}

		
	}
	

	section {
		.header-block {
	    margin-top: 9rem;

	    p {
				width: 50%;
			}
		}

		.banner-text-container {
			p {
		    width: 55%;
			}
		}

		.large-text {
			font-size: 1.8rem;
		}
	}

	footer {
		.text-right {
			text-align: right!important;
		}

		.text-left {
			text-align: left!important;

			span {
				width: auto!important;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.main-menu {
		position: absolute;
	  background-color: #fff;
	  overflow: hidden;
	  z-index: -1;
	  top: -10px;
		transition: all 0.5s ease;
		height: 0vh;
		width: 100%;
		left: 0;

	  &.open {
			height: 100vh;
			z-index: 1000;
		  top: 75px;
	  }

	  .nav-link {
	  	padding: 1rem;
	  }
	}
	
	nav.navbar {
		.nav-link {
			color: #080808;

			&.active, &:hover {
				background-color: $primary;
				color: #fff;
			}
		}
	}

}

